@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: url("./paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .navbar {
    height: 130px;
    word-spacing: 10px;
    letter-spacing: 5px;
    background-color: rgba(0, 0, 0, 0.521);
    .navbar-text {
      font-size: 25pt !important;
    }
  }
  .maincontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .input-field {
      .inputs {
        background-color: #c4c4c4ad !important;
      }
      margin-top: 50px;
      width: 55%;
    }
    .result-field {
      margin-top: 30px;
      background-color: #c4c4c4ad;
      width: 55%;
      border-radius: 5px;
      height: 400px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 50px;
      padding-right: 50px;
      align-items: center;
      font-size: 20pt;
    }
    position: relative;
    .loader {
      position: absolute;
      left: 50%;
      top: 65%;
      z-index: 1;
      width: 120px;
      height: 120px;
      margin: -76px 0 0 -76px;
      border: 16px solid #f3f3f394;
      border-radius: 50%;
      border-top: 16px solid rgba(0, 0, 255, 0.5);
      border-bottom: 16px solid rgba(0, 0, 255, 0.5);
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
